{% extends 'mailsender/base.html' %}
{% block content %}

<div class="row mb-2">
    <div class="col-12 mb-4 px-4">
        <a class="btn btn-outline-secondary" href="{% url 'mailsender:create_message' %}">Добавить новое сообщение</a>
    </div>
</div>

<div class="container px-4">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        {{ object.content|truncatechars:100}}
                    </ul>
                    <a href="{% url 'mailsender:message_detail' object.pk %}" type="button"
                       class="btn btn-lg btn-block btn-dark">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
